<div class="content">
    <div class="center">
        <h1>This page does not exist</h1>
    </div>
    <div class="center">
        <a class="btn btn-primary" href="" role="button">Home</a>
    </div>
</div>