<div class="card">
    <img src="./assets/images/1360675105.png" class="card-img-top" alt="...">
    <div class="card-body text-center">
        <h5 class="card-title">1-1-1-B</h5>
        <p class="card-text">Open</p>
        <a href="#" class="btn btn-primary">Book</a>
    </div>
</div>